.header-container {
  padding-top: 30px;
  height: calc(100vh - 56px);
  height: 80vh;
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: -56px;
  color: #fff;
  margin-bottom: 20vh; }
  .header-container .header-canvas {
    position: absolute;
    height: 80%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: -3;
    min-height: 700px; }
  .header-container .leftContainer {
    padding: 40px;
    text-align: center; }
    .header-container .leftContainer h1 {
      animation: fade-in 2s;
      opacity: 1;
      font-weight: 900;
      font-size: 44px;
      font-family: 'Roboto', sans-serif; }
      .header-container .leftContainer h1 b {
        color: rgba(255, 255, 255, 0.5); }
  .header-container .rightContainer {
    width: 50%; }
    .header-container .rightContainer a {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.5);
      transition: all 500ms; }
      .header-container .rightContainer a h4 {
        padding: 30px;
        animation: fade-in 2s;
        font-weight: bold; }
    .header-container .rightContainer a:hover {
      color: #fff; }
    .header-container .rightContainer .logoContainer {
      color: white;
      position: relative;
      width: 360px;
      height: 250px;
      margin-top: 200px;
      transform: rotate(-30deg) skew(25deg) scale(0.8);
      transition: 0.5s;
      animation: skew-logo 2s;
      animation-delay: 1s;
      opacity: 1; }
      .header-container .rightContainer .logoContainer img {
        position: absolute;
        width: 100%;
        transition: 0.5s; }
    .header-container .rightContainer .logoContainer img:nth-child(4) {
      transform: translate(60px, -60px);
      opacity: 1;
      -webkit-animation: image-4 2s infinite;
      /* Safari 4.0 - 8.0 */
      -webkit-animation-direction: alternate;
      /* Safari 4.0 - 8.0 */
      animation: image-4 2s infinite;
      animation-direction: alternate; }
    .header-container .rightContainer .logoContainer img:nth-child(3) {
      transform: translate(40px, -40px);
      opacity: .8;
      -webkit-animation: image-3 2s infinite;
      /* Safari 4.0 - 8.0 */
      -webkit-animation-direction: alternate;
      /* Safari 4.0 - 8.0 */
      animation: image-3 2s infinite;
      animation-direction: alternate; }
    .header-container .rightContainer .logoContainer img:nth-child(2) {
      transform: translate(20px, -20px);
      opacity: .6;
      -webkit-animation: image-2 2s infinite;
      /* Safari 4.0 - 8.0 */
      -webkit-animation-direction: alternate;
      /* Safari 4.0 - 8.0 */
      animation: image-2 2s infinite;
      animation-direction: alternate; }
    .header-container .rightContainer .logoContainer img:nth-child(1) {
      transform: translate(0px, 0px);
      opacity: .4;
      -webkit-animation: image-1 2s infinite;
      /* Safari 4.0 - 8.0 */
      -webkit-animation-direction: alternate;
      /* Safari 4.0 - 8.0 */
      animation: image-1 2s infinite;
      animation-direction: alternate; }

@keyframes image-4 {
  0% {
    transform: translate(60px, -60px); }
  100% {
    transform: translate(160px, -160px); } }

@keyframes image-3 {
  0% {
    transform: translate(40px, -40px); }
  100% {
    transform: translate(120px, -120px); } }

@keyframes image-2 {
  0% {
    transform: translate(20px, -20px); }
  100% {
    transform: translate(80px, -80px); } }

@keyframes image-1 {
  0% {
    transform: translate(0px, 0px); }
  100% {
    transform: translate(40px, -40px); } }

@media only screen and (max-width: 1216px) {
  .header-container .rightContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .header-container .rightContainer h1 {
      font-size: 30px; } }

@media only screen and (max-width: 900px) {
  .header-container .leftContainer {
    padding-bottom: 0px; }
    .header-container .leftContainer h1 {
      font-size: 27px !important; } }

@keyframes fade-in {
  0% {
    transform: translateY(30px);
    opacity: 0; }
  100% {
    transform: translateY(0px);
    opacity: 1; } }

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.desktop-wrapper {
  position: relative;
  width: 80%;
  height: 21vw;
  min-width: 200px;
  min-height: 300px;
  animation: fade-in 4s; }
  .desktop-wrapper .desktop-container {
    box-shadow: 0 15px 28px 0 rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0px 0px; }
    .desktop-wrapper .desktop-container .desktop-head {
      position: absolute;
      z-index: 1;
      border-radius: 5px 5px 0px 0px;
      top: 0;
      left: 0;
      width: 100%;
      height: 21px;
      background: #fff; }
      .desktop-wrapper .desktop-container .desktop-head .ptn {
        position: absolute;
        height: 5px;
        width: 5px;
        border-radius: 3px;
        top: 50%;
        background: #000;
        opacity: 0.2; }
      .desktop-wrapper .desktop-container .desktop-head .ptn:nth-child(1) {
        left: 6px; }
      .desktop-wrapper .desktop-container .desktop-head .ptn:nth-child(2) {
        left: 16px; }
      .desktop-wrapper .desktop-container .desktop-head .ptn:nth-child(3) {
        left: 26px; }
    .desktop-wrapper .desktop-container .desktop-screen {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
      padding-top: 21px;
      border-radius: 5px 5px 0px 0px; }
      .desktop-wrapper .desktop-container .desktop-screen img {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        margin-top: 21px;
        animation-name: desktopScroll;
        animation-duration: 5s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-fill-mode: none;
        animation-timing-function: cubic-bezier(1, 0.005, 0.305, 1); }

@media only screen and (max-width: 500px) {
  .header-container .left-container h1 {
    font-size: 30px; } }

@keyframes fade-in {
  10% {
    transform: translateY(30px);
    opacity: 0; }
  100% {
    transform: translateY(0px);
    opacity: 1; } }

@keyframes desktopScroll {
  10% {
    transform: translateY(0%); }
  50% {
    transform: translateY(calc(-50% + 285px)); }
  100% {
    transform: translateY(calc(-100% + 370px)); } }

@keyframes desktopScroll {
  10% {
    transform: translateY(0%); }
  50% {
    transform: translateY(calc(-50% + 285px)); }
  100% {
    transform: translateY(calc(-100% + 370px)); } }

body {
  font-family: 'Montserrat', sans-serif; }

.about-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 100px; }
  .about-section .about-text {
    width: 50%;
    min-width: 300px;
    padding: 50px;
    padding-left: 100px; }
    .about-section .about-text h2 {
      color: #363F54;
      font-size: 32px;
      font-weight: bold;
      padding: 20px 0px;
      line-height: 42px; }
    .about-section .about-text p {
      color: #8A99C0;
      line-height: 42px;
      font-size: 20px; }
  .about-section .about-action {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .about-section .about-action a {
      margin-bottom: 20px;
      padding: 30px;
      background: #8A99C0;
      border-radius: 60px;
      color: white; }
    .about-section .about-action p {
      color: #363F54;
      font-weight: bold;
      font-size: 0.9rem; }

@media only screen and (max-width: 900px) {
  .about-section .about-text {
    padding: 20px;
    width: 100%; } }

.projects-section {
  margin: 30px 0px; }
  .projects-section .projects-title {
    width: 50%;
    min-width: 300px;
    padding: 50px;
    padding-left: 100px; }
    .projects-section .projects-title h2 {
      color: #363F54;
      font-size: 32px;
      font-weight: bold;
      padding: 20px 0px;
      line-height: 42px;
      text-align: center; }

.left {
  display: flex;
  flex-direction: row;
  padding: 40px;
  margin: 80px 0px;
  text-align: left;
  flex-wrap: wrap;
  flex-direction: row-reverse; }
  .left .project-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end; }
    .left .project-text ul {
      text-align: right; }

.right {
  display: flex;
  flex-direction: row;
  padding: 40px;
  text-align: right;
  margin: 80px 0px;
  flex-wrap: wrap; }
  .right .project-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
    .right .project-text ul {
      text-align: left; }
  .right img {
    animation-delay: 2s; }

.project-img {
  width: 40%;
  padding: 40px; }
  .project-img img {
    border-radius: 15px 30px;
    width: 100%;
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.31);
    transition: all 1s; }

.project-text {
  width: 50%;
  padding: 40px; }
  .project-text h2 {
    color: #363F54;
    font-size: 32px;
    font-weight: bold;
    padding: 20px 0px;
    line-height: 42px;
    animation-name: textmotion;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-delay: .3s; }
  .project-text p {
    margin-left: 20px;
    color: #279AF1;
    line-height: 42px;
    font-size: 17px;
    font-weight: 800; }
  .project-text ul {
    list-style: none;
    color: #677baf;
    line-height: 32px;
    font-size: 15px;
    font-weight: 300; }
  .project-text a {
    background: #8A99C0;
    color: white;
    padding: 10px 20px;
    font-size: 12px;
    border-radius: 30px;
    margin-left: 20px;
    box-shadow: 0px 17px 10px -10px rgba(138, 153, 192, 0.6);
    transition: all ease-in-out 300ms; }
  .project-text a:hover {
    box-shadow: 0px 22px 10px -13px rgba(138, 153, 192, 0.4);
    transform: translate(0px, -5px) scale(1.1);
    text-decoration: none; }

@media only screen and (max-width: 900px) {
  .project-img {
    width: 100%;
    padding: 0px; }
  .project-text {
    width: 100%; } }

@keyframes motion {
  0% {
    transform: translateY(20px); }
  100% {
    transform: translateY(-20px); } }

@keyframes textmotion {
  0% {
    transform: translateY(5px); }
  100% {
    transform: translateY(-5px); } }

.skills-section {
  padding: 30px;
  margin-top: 50px; }
  .skills-section .skills-wrapper .skills-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 60px 0px;
    color: #8A99C0; }
    .skills-section .skills-wrapper .skills-container h1 {
      font-size: 1.3rem;
      color: #363F54; }

footer {
  background-color: white;
  padding: 35px 40px; }
  footer .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    color: #8A99C0; }
    footer .footer-content p {
      font-size: .8rem; }

@keyframes growRight {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
    width: 0%; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    width: 100%; } }

.growRight {
  -webkit-animation-name: growRight;
  animation-name: growRight;
  padding-right: 130px; }

.contact-wrapper {
  border-radius: 15px 50px;
  background: #E8C547;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.1);
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; }
  .contact-wrapper h1 {
    color: #FFF;
    font-size: 1.6rem; }
  .contact-wrapper a {
    background: #8A99C0;
    padding: 10px 30px;
    border-radius: 20px;
    margin-top: 50px;
    color: #fff;
    font-weight: 500;
    font-size: 0.8rem;
    letter-spacing: 1.3px;
    box-shadow: 0px 14px 28px rgba(138, 153, 192, 0.2);
    transition: all 1s;
    animation-name: buttonmotion;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-delay: .3s; }
  .contact-wrapper a:hover {
    text-decoration: none;
    box-shadow: 0 8px 16px 0 rgba(138, 153, 192, 0.3), 0 6px 20px 0 rgba(138, 153, 192, 0.25); }

@keyframes buttonmotion {
  0% {
    transform: translateY(5px);
    transform: translateX(5px); }
  100% {
    transform: translateY(-5px); } }


/*# sourceMappingURL=styles.chunk.css.map*/